* {
  margin: 0;
  padding: 0;
  /* Body 3 Desktop */
  color: #000000;
  /* Body 3 Destop Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body {
  background: url(<../../../images/background\ admin.png) lightgray 50% / cover
    no-repeat;
}


#title {
  color: #595959;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 100px;
  padding: 40px 0px 20px 14%;
}
.list-group {
  height: 478px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  background: #fff;
  margin-left: 50px;
}
.list-group #main-menu > a {
  color: #e82f35;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.list-group #main-menu > a svg {
  float: right;
  margin-top: 4px;
}
.list-group .list-group-item {
  border: none;
}
#main-menu {
  padding: 28px 10px 25px 24px;
}
.show .list-group-item {
  display: flex;
  padding: 8px 65px 8px 30px;
  width: 260px;
  margin-left: 18px;
  gap: 10px;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  color: #9c9c9c;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.show .list-group-item-action {
  display: flex;
  padding: 8px 65px 8px 30px;
  width: 260px;
  margin-left: 18px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #e82f35;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.main {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  background: #fff;
  margin-left: 12px;
  margin-bottom: 50px;
}

.main h4 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  background: #e82f35;
  margin: 30px 10px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
.main .main-item {
  display: flex;
}

.main .form-add h5 {
  width: 280px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 10px 40px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 3px;
  background: #cecece;
}

.main .form-add input {
  display: flex;
  height: 48px;
  width: 280px;
  padding: 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #bcbcbc;
  /* Body02 */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 15.6px */
}

.main .form-add button {
  float: right;
  padding: 6px;
  border-radius: 3px;
  background: rgba(48, 48, 48, 0.3);
  color: #fff;

  /* SS */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-top: 10px;
}
.table > thead {
  border-radius: 10px;
  background: #cecece;
}
.table > thead > tr > th {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #cecece;
  padding: 9px;
  text-align: center;
}
.table > tbody > tr > td > input {
  color: #bcbcbc;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.list-user .table > tbody > tr > td {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-align: center;
}
.list-user button {
  float: right;
  padding: 6px;
  border: none;
  border-radius: 3px;
  background: rgba(48, 48, 48, 0.3);
  color: #fff;

  /* SS */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filter-product {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
  margin-bottom: 20px;
}
.filter-product label {
  margin-right: 5px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filter-product .search {
  width: 280px;
  height: 29px;
  gap: 10px;
}
.filter-product .search input {
  width: 160px;
}
.filter-product .brand{
  width: 30%;
}
.filter-product .search #name-product {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filter-product select{
  width: 40%;
}
.btn-search {
  display: flex;
  height: 20px;
  padding: 6px;
  margin-top: -5px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border: none;
  border-radius: 3px;
  background: rgba(48, 48, 48, 0.3);
  color: #fff;

  /* SS */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
.list-product .table > thead > tr > th {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.list-product img{
  width: 150px;
}
.list-product input{
  margin-top: 10px;
  margin-left: 30px;
}
.title-product {
  width: 300px;
  text-align: left;
}
.list-product svg {
  margin-left: 10px;
  width: 20px;

}
input[type="checkbox"]:checked {
  accent-color: green;
}
.main .page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
.table td {
  border: none;
}
.config .table label {
  text-align: right;
  display: block;
}
.config .table .title {
  width: 200px;
}
.logo {
  display: block;
  margin-top: 10px;
  padding: 20px;
  width: 174px;
  height: 77px;
  flex-shrink: 0;
  background: #f3f3f3;
}

.table-configs span {
  color: #000;

  /* SS */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
}

.table-configs button {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  background: rgba(174, 174, 174, 0.3);
  border: none;
  padding: 6px;
}
.table-configs .title {
  color: #000;

  /* Body 3 Destop Bold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 15px;
}
.table-configs .favicon {
  width: 121px;
  height: 84px;
  background: #f3f3f3;
}
.table-configs li {
  color: #000;

  /* SS */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
}
.table-configs ul {
  margin-top: 10px;
}
.ck-voice-label {
  display: none !important;
}
.ck-content {
  height: 200px !important; /* Tăng chiều cao */
}
.info-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.info-detail-add {
  display: flex;
  width: 48%;
  background: none;
  gap: 5px;
}

.info-detail-add label {
  margin-bottom: 5px;
  font-weight: bold;
  width: 100px;
}

.info-detail-add input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.table-container td {
  color: #000 !important;
}

.table-container > table > thead th {
  background-color: #cecece;
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.table-order-detail td {
  padding: 0;
  padding-bottom: 10px;
  padding-right: 20px;
}
.table-order-detail label {
  float: right;
}
.table-order-detail .content-info {
  width: 450px;
}
.table-order-detail .content-info p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order-detail {
  width: 790px;
  height: auto;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
  margin-left: 50px;
}

.order-detail .total-price {
  text-align: right;
  padding-right: 50px;
}
.order-detail .total-price span {
  color: #e82f35;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 24px */
}
.order-detail .item-cart {
  display: flex;
  width: 696px;
  height: 121px;
  align-items: center;
  gap: 49px;
  flex-shrink: 0;
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #c9c9c9;
  margin-left: 40px;
}
.order-detail .item-cart .info-laptop {
  display: flex;
  width: 458px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: -70px;
}
.order-detail .item-cart .info-laptop .config-laptop {
  width: 250px;
}
.order-detail .item-cart .price-item {
  margin-top: -30px;
}

.order-detail .item-cart .delete-item button {
  border: none;
  background-color: #fff;
  margin-top: 10px;
}
.order-detail .info-detail-add {
  padding: 4px;
  border-radius: 2px;
  background: #e5e5e5;
}
.action-order{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
